@using MyOnlyCatServer.Model;

@model Cat

@{ 
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>

<img src="@Model.ImageUrl" alt="NO Idea what this is @Model.Name" />

<P><strong>Cat Breed is:</strong>@Model.Breed</P>
<P><strong>Cat Age is:</strong>@Model.Age</P>